In [1]:
# Module 3
# Topic - Database client
#Exercise 2 - Add query functions

In [2]:
# Task 1 - extending the environment to connect with your database and interact with the data it holds

In [3]:
# Import MySQL Connector/Python 
import mysql.connector as connector

In [4]:
# Enter user details and connect with the database
connection = connector.connect(
    user='db_capstone',
    password='MySQL@860204',
    database='littlelemondb'
)

In [5]:
# Create cursor object to communicate with entire MySQL database
cursor = connection.cursor()
print("Cursor is created to communicate with the MySQL using Python.")

Cursor is created to communicate with the MySQL using Python.

In [6]:
# Set little lemon database for use 
cursor.execute("USE littlelemondb")
print("The database little lemon is set for use.")

The database little lemon is set for use.

In [7]:
# Confirm the database in use
connection.database

'littlelemondb'

In [8]:
# Task 2 - to query the database to show all tables within the database

In [9]:
# Define and execute the query to show tables
query_show_tables = "SHOW TABLES"
cursor.execute(query_show_tables)

In [10]:
# Fetch the results
results = cursor.fetchall()

In [11]:
# Display column names and the records
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

('Tables_in_littlelemondb',)
('bookings',)
('customers',)
('employees',)
('menuitems',)
('menus',)
('orderdeliverystatus',)
('orders',)
('ordersview',)

In [12]:
# Task 3 - to return specific details from your database.
# They require the full name and contact details for every customer that has placed an order greater than $60 for a promotional campaign.

In [13]:
# Define the query to join tables and filter results
query = """
SELECT c.FullName, c.PhoneNumber, o.TotalCost
FROM customers as c
INNER JOIN orders as o
ON c.CustomerID = o.CustomerID
WHERE o.TotalCost > 60;
"""

In [14]:
# Execute the query
cursor.execute(query)

In [15]:
# Fetch the results
results = cursor.fetchall()

In [16]:
# Display column names and the records
columns=cursor.column_names
print(columns)
for result in results:
    print(result)

('FullName', 'PhoneNumber', 'TotalCost')
('Anna\xa0Iversen', '757536375', 160)
('Vanessa\xa0McCarthy', '757536378', 74)
('Marcos\xa0Romero', '757536379', 111)

In [17]:
# Close the cursor and connection
cursor.close()
connection.close()